---
BasedOnStyle: Google
Language: Cpp
Standard: c++20
ColumnLimit: 110
IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -2
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Attach
DerivePointerAlignment: false
PointerAlignment: Left
NamespaceIndentation: None
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<[a-z_]+>'
    Priority: 1
  - Regex: '^<.*\.h(pp)?>'
    Priority: 2
  - Regex: '^"rekall/'
    Priority: 3
  - Regex: '.*'
    Priority: 4
